.cardbox{
    width: 100%;
    margin: auto;
    /* background-color: aqua; */
    justify-content: safe;
}
.sub-head{
    font-family: rock;
}

@font-face {
    font-family: rock;
    src: url(./Rocksalt.ttf);
}
.card-item{
    width: "23rem";
    margin-top: "4em"
}